<h1 align="center ">Listing All Articles</h1>
<div align='center' class='paginate'>
  <%=  will_paginate @article, :previous_label =>'prev', :next_label =>'next' %>


</div>
<div align='center'>
<%= page_entries_info @article %>
</div>
<%= render 'article', obj: @articles %>

<div class="paginate">
  <%=  will_paginate @article, :previous_label =>'prev', :next_label =>'next' %>
</div>
