
<div class="body2">
<section class="container-fluid px-0">
    <div class="row align-items-center content">
        

         <%= image_tag('MM.jpg', class:"col-md-6 order-2 order-md-1") %>

        
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>- Marilyn Monroe</h2>
                    <%# <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline"> %>
                    <p class="lead">“I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.”</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2> ― Albert Camus</h2>
                
                    <p class="lead">
                      “Don’t walk in front of me… I may not follow
                      Don’t walk behind me… I may not lead
                      Walk beside me… just be my friend”
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <%# <img src="imgs/gumball.png" alt="" class="img-fluid"> %>
             <%= image_tag('AC.jpg',class:"img-fluid" ) %>

        </div>
    </div>
    <div class="row align-items-center content">
        <div class="col-md-6 order-4 order-md-2">
                                <%= image_tag('RB.jpg',class:"col-md-6 order-4 order-md-2") %>

        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                    <h2>― Rob Siltanen</h2>
                    <%# <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline"> %>
                    <p class="lead">
                      “Here's to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things. They push the human race forward. And while some may see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
