<div class="container">
  <footer class="footer">
    <small>
      copyright &copy; <a href="#"> We hear your story </a>
    by  <a href="https://github.com/asraful01"target="_blank">Asraful Babul </a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to "About", about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>
